<div class="layout murilo002skeleton" ng-controller="murilo002SkeletonCtrl">
  <ul class="items-container-murilo002skeleton" ng-class="features.layoutOptions.alignment">
    <li class="murilo002skeleton-item"
        ng-repeat="feature in features.overview.options"
        tabbar-items
        option="feature"
        go-to-url="goTo(feature);"
        ng-class="{ 'bannerContainermurilo002skeleton': $last }">

      <!-- Banner: só mostra se for o último e tiver URL -->
      <img ng-if="$last && features.layoutOptions.banner_url"
           ng-src="{{ features.layoutOptions.banner_url }}"
           class="bannerImagemurilo002skeleton"
           alt="Banner" />

      <!-- Ícone normal: para todos os itens exceto o último -->
      <img ng-if="!$last"
           ng-src="{{ feature.icon_url }}"
           class="murilo002skeleton-icon"
           alt="Ícone da funcionalidade" />

      <!-- Nome da feature (exceto para o banner) -->
      <h2 class="murilo002skeleton-name" ng-if="!$last">{{ feature.name }}</h2>
    </li>
  </ul>
</div>